$primary-1: #2196F3;
$primary-2: #4CAF50;
$primary-3: #FF9800;

$light-1: #BBDEFB;

.instruction {
  font-size: 20px;
  max-width: 800px;
  margin: auto;
}

.instruction-title {
  background: $primary-1;
  color: #fff;
  height: 125px;
  line-height: 125px;
  padding-left: 50px;
}

.instruction-info-box {
  padding: 20px;
  background: #eee;
  border-radius: 5px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.checklist-symbol {
  color: $primary-3;
  display: flex;
  align-items: center;
  font-weight: bold;

  &:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    background: url('/assets/checkmark-round.svg');
    background-size: contain;
  }
}

.test-symbol {
  color: $primary-2;
  display: flex;
  align-items: center;
  font-weight: bold;

  &:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    background: url('/assets/flag.svg');
    background-size: contain;
  }
}

.instruction-content {
  line-height: 1.4em;
  counter-reset: h2;

  h2 {
    padding: 10px 20px;
    color: #fff;
    background: $primary-2;
    border-radius: 5px;
  }

  h2:before {
    color: $light-1;
    content: "Schritt " counter(h2) ": ";
    counter-increment: h2;
  }

  p {
    padding: 10px;
  }

  ul {
    padding-left: 10px;
  }

  ul > li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
  }

  li > p {
    padding: 0;
    margin: 0;
  }

  ul > li:before {
    display: inline-block;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid $primary-1;
    flex-shrink: 0;
    margin-right: 15px;
  }

  img {
    display: block;
    max-height:400px;
    margin: auto;
  }
}

