$primary-1: #2196F3;
$primary-2: #4CAF50;
$primary-3: #FF9800;

$scratch-movement-color: #4A6CD4;
$scratch-visual-color: #8A55D7;
$scratch-control-color: #E2AA00;
$scratch-sound-color: #BB42C3;
$scratch-painting-color: #0E9A6C;
$scratch-operator-color: #5CB712;
$scratch-advanced-color: #632D99;
$scratch-event-color: #C88330;
$scratch-sensor-color: #2CA5E2;
$scratch-data-color: #EE7D16;

$light-1: #BBDEFB;

.instruction {
  font-size: 18px;
  max-width: 800px;
  margin: auto;
}

.instruction-title {
  background: $primary-1;
  color: #fff;
  height: 125px;
  line-height: 125px;
  padding-left: 50px;
  margin: 0;
  margin-bottom: 30px;
  border-radius: 5px;
}

.instruction-info-box {
  padding: 20px;
  background: #eee;
  border-radius: 5px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.checklist-symbol {
  color: $primary-3;
  display: flex;
  align-items: center;
  font-weight: bold;

  &:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    background: url('/assets/checkmark-round.svg');
    background-size: contain;
  }
}

.test-symbol {
  color: $primary-2;
  display: flex;
  align-items: center;
  font-weight: bold;

  &:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px;
    background: url('/assets/flag.svg');
    background-size: contain;
  }
}

.instruction-content {
  line-height: 1.5em;
  vertical-align: center;

  h2 {
    padding: 10px 20px;
    color: #fff;
    background: $primary-2;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 30px;
  }

  p {
    padding: 0 10px;
  }

  ul {
    padding-left: 10px;
  }

  ul > li {
    position: relative;
    list-style: none;
    margin: 20px 0;
    padding-left: 40px;
  }

  li > p {
    padding: 0;
    margin: 0;
  }

  ul > li:before {
    position: absolute;
    left: 0;
    display: inline-block;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid $primary-1;
    margin-right: 15px;
  }

  img {
    display: block;
    margin: auto;
  }
}


.movement-block,
.visual-block,
.control-block,
.sound-block,
.painting-block,
.operator-block,
.advanced-block,
.event-block,
.sensor-block,
.data-block,
.movement-value,
.visual-value,
.control-value,
.sound-value,
.painting-value,
.operator-value,
.advanced-value,
.event-value,
.sensor-value,
.data-value {
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 2px 10px;
  display: inline-block;
  margin: 0 5px;
}

.movement-block {
  background: $scratch-movement-color;
}

.visual-block {
  background: $scratch-visual-color;
}

.control-block {
  background: $scratch-control-color;
}

.sound-block {
  background: $scratch-sound-color;
}

.painting-block {
  background: $scratch-painting-color;
}

.operator-block {
  background: $scratch-operator-color;
}

.advanced-block {
  background: $scratch-advanced-color;
}

.event-block {
  background: $scratch-event-color;
}

.sensor-block {
  background: $scratch-sensor-color;
}

.data-block {
  background: $scratch-data-color;
}

.movement-value {
  border-radius: 20px;
  background: $scratch-movement-color;
}

.visual-value {
  border-radius: 20px;
  background: $scratch-visual-color;
}

.control-value {
  border-radius: 20px;
  background: $scratch-control-color;
}

.sound-value {
  border-radius: 20px;
  background: $scratch-sound-color;
}

.painting-value {
  border-radius: 20px;
  background: $scratch-painting-color;
}

.operator-value {
  border-radius: 20px;
  background: $scratch-operator-color;
}

.advanced-value {
  border-radius: 20px;
  background: $scratch-advanced-color;
}

.event-value {
  border-radius: 20px;
  background: $scratch-event-color;
}

.sensor-value {
  border-radius: 20px;
  background: $scratch-sensor-color;
}

.data-value {
  border-radius: 20px;
  background: $scratch-data-color;
}

pre {
  margin-left: 50px;
}

.page-break {
  page-break-after: always;
}