<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/vendor/scratchblocks2.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}" media="screen,print">
  </head>
  <body class="instruction">

    <h1 class="instruction-title">{{ page.title }}</h1>

    <div class="instruction-info-box">

      <p>Diese Symbole zeigen dir, was du machen musst </p>

      <ul>
        <li><b class="checklist-symbol">Checkliste</b>: Folge Schritt für Schritt der Anleitung</li>
        <li><b class="test-symbol">Teste dein Projekt</b>: Klicke auf die Flage um dein Programm zu testen</li>
      </ul>

    </div>

    <div class="instruction-content">

      {{ content }}

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script src="/vendor/scratchblocks2.js"></script>
    <script src="/vendor/language-de.js"></script>

    <script>
      scratchblocks2.load_language(scratchblocks2._translations.de)
      scratchblocks2.parse('code.language-blocks');
    </script>

  </body>
</html>
